{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista aukcji</h1>

    {% for auction in auctions %}
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <a href="{{ url("auction_details", {"id": auction.id}) }}">{{ auction.title }}</a>
            </div>
            <div class="card-text">
                <p>{{ auction.description }}</p>
            </div>

            <ul class="list-group list-group-flus">
                <li class="list-group-item">Cena: {{ auction.price }} zł</li>
            </ul>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}